// Configuration and helpers
@import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins';

// Vendors
@import 'vendors/vendors-import';

// Base stuff
@import 'base/common', 'base/animation', 'base/typography';

// Components
@import 'components/buttons', 'components/card', 'components/tabs', 'components/circle-chart', 'components/slider', 'components/form', 'components/misc';

// Layout-related sections
@import 'layout/header', 'layout/navigation', 'layout/sidebar', 'layout/footer', 'layout/spacing', 'layout/responsive';

// Page-specific styles
@import 'pages/pages', 'pages/profile', 'pages/post-job', 'pages/my-resume', 'pages/dashboard-home';
